@mixin init-font($family, $family-url, $url-prefix, $weight, $style:null, $extension: 'otf') {
    @font-face {
        src: url('#{$family-url + $url-prefix + '.' + $extension}');
        font-family: #{$family};
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
